body {
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: white;
}

.navbar {
    background: linear-gradient(to right, #283c86, #45a247);
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbar-brand {
    color: white;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
}

 .navbar-brand span {
        font-size: 35px; /* Adjust this value as needed */
        font-weight: bold;
}

.navbar {
    background: linear-gradient(to right, #283c86, #45a247);
    padding: 10px;
    display: flex;
    align-items: center;
}


.logo {
    height: 50px;
    margin-left: 10px;
}

.card {
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.btn-primary, .btn-secondary, .btn-success {
    background-color: #ff9800;
    border-radius: 5px;
}

.list-group-item.active {
    background-color: #007bff !important;
    color: white !important;
    font-weight: bold;
    border-color: #0056b3;
}
